<%- include('layout') %>

<div class="container mt-4">
  <h2>Présences pour la Classe</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <% if (role === 'ROLE_PROF') { %>
        <th>Action</th>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <% links.forEach(link => { %>
        <tr>
          <td><%= link.student.firstname %></td>
          <td><%= link.student.lastname %></td>
          <% if (role === 'ROLE_PROF') { %>
          <td>
            <% if (user.id === link.student.user_id) { %>
              <a href="<%= link.link %>" class="btn btn-primary">Signer</a>
            <% } %>
          </td>
          <% } %>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
