<%- include('layout') %>

<body style=" height: 100vh ; "> 
 

  <div >

    <div style="height: 100vh; display: flex; justify-content: center; align-items: center; flex-direction: column;">

    
      <% if (messages.error) { %>
        <div>
          <%= messages.error %>
        </div>
      <% } %>
      <form action="/auth/login" method="POST" style="display: flex; flex-direction: column;">
        
          <label for="email">Identifiant :</label>
          <input type="email" name="email" id="email"  required>
        
        
          <label for="password">Mot de passe : </label>
          <input type="password" name="password" id="password" required>
        
        <button class="btn btn-dark" style="margin-top: 3px;" type="submit">Login</button>
      </form>
    </div>
  </div>
</body>

