<%- include('layout') %>

<body style=" height: 100vh ;" >
  <% if (messages.error) { %>
    <div>
      <%= messages.error %>
    </div>
  <% } %>
  <form action="/auth/register" method="POST"  >
    <div style=" height: 100vh ; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h2>Créer un compte</h2>

        <label for="firstname">Prénom :</label>
        <input type="text" name="firstname" id="firstname" required>
    
        <label for="lastname">Nom de famille : </label>
        <input type="text" name="lastname" id="lastname" required>
    
        <label for="email">E-mail :</label>
        <input type="email" name="email" id="email" required>
    
        <label for="password">Mot de passe :</label>
        <input type="password" name="password" id="password" required>
      
      <button  style="margin-top: 5px;" class="btn btn-dark " type="submit">Créer mon compte </button>
      </div>
  </form>
</body>
