<%- include('layout') %>

<header class="bg-dark text-white text-center py-3 mb-4">
  <h1>Liste des Matières</h1>
</header>
<div class="container">
  <a href="/subjects/create" class="btn btn-primary mb-3">Créer une Matière</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% subjects.forEach(subject => { %>
      <tr>
        <td><%= subject.name %></td>
        <td>
          <a
            href="/subjects/<%= subject.id %>/edit"
            class="btn btn-warning btn-sm"
            >Modifier</a
          >
          <form
            action="/subjects/<%= subject.id %>/delete?_method=DELETE"
            method="POST"
            style="display: inline"
          >
            <button type="submit" class="btn btn-danger btn-sm">
              Supprimer
            </button>
          </form>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
